table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid $text-color;
    text-align: center;

    th,
    td{
        background-color: aqua;
        border: 1px solid $black;
        padding: 1em, 0;

        .cell-flex{
            @include flex(space-around);
           
        }
    }
}